* {
    padding: 0 !important;
    margin: 0 !important;
    list-style: none;
}

section {
    min-height: 100vh;
}

.section-one {
    background-color: #9292921c;
}

aside {
    background-color: #1A1D24;
    color: #939496 !important;
    width: 16%;
}

.info {
    background-color: #0A0A0B;
}

#userName {
    background-color: #1CB09A;
    color: #fff;
}

.image-dummy {
    background: url(../images/facebook\ image.jpg) no-repeat;
    border-radius: 1.4rem;
    padding: 3rem .8rem !important;
    background-color: red !important;
    border: 3px solid #fff;
    cursor: pointer;
    width: 130px;
    height: 130px;
    background-size: cover;
}

aside button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: .5rem;
}

nav button {
    border: none;
    color: rgba(255, 255, 255, 0.527);
}

.fa-search input {
    border: none;
    padding: .1rem 0 !important;
    color: #fff;
}

.fa-search {
    background-color: #000 !important;
    padding: .3rem !important;
}

.fa-search input:focus {
    outline: none;
}

.toggle-one {
    height: 28px;
    width: 28px;
    position: sticky;
    top: 20px;
}

.toggle-two {
    height: 28px;
    width: 28px;
    position: sticky;
    top: 20px;
    right: 10px;
    transform: scale(0);
}

.notifications {
    padding: .1rem .3rem!important;
    position: relative;
    top: -6px;
    left: -5px;
    z-index: 99999;
    box-shadow: 0px 0px 1px 0px #c6c6c6;
}

main {
    width: 100 !important;
}

.info-card {
    background-color: #fff;
    box-shadow: 0px 0px 3px 1px #c5c5c5;
    min-height: 120px;
}

.info-card .fa {
    width: max-content !important;
}

.border-left {
    border-left: 1px solid #000;
}

.info-card button:hover,
.info-card button:focus {
    background-color: red !important;
    color: #fff;
    transform: scale(0.8);
    outline: none;
    box-shadow: 0px 0px 3px 1px#1CB09A;
}

.last button:hover,
.last button:focus {
    background-color: red !important;
    color: #fff;
    transform: scale(0.8);
    outline: none;
    box-shadow: 0px 0px 3px 1px#1CB09A;
}

.bd {
    border-left: 1px solid #000;
}

.last {
    background-color: #1CB09A;
}

.last button {
    position: absolute;
    right: .5rem;
}

.graph-header {
    background-color: #c6c6c66b;
}

.graph-header button {
    outline: none;
}

.graph-header button:focus {
    transform: rotate(360deg);
    transition-duration: 1s;
    transform: scale(0.8);
}

.graph {
    height: 200px;
    background-color: #fff;
}

.graph-right {
    height: max-content;
    box-shadow: 0px 0px 0px 1px #c5c5c5;
    margin-left: 2px !important;
    margin-right: 2px !important;
}

.table td,
.table th {
    padding: .75rem !important;
}

.table td,
.table th {
    vertical-align: middle;
}

.btn-gemini {
    background-color: #37B59F;
}

.btn-virgo {
    background-color: #9CB674;
}

@media screen and (max-width:888px) {
    aside {
        max-width: 100% !important;
        display: none;
    }
    #userName {
        background-color: #1CB09A;
        color: #fff;
        position: fixed;
        width: 100vw;
    }
    .info {
        margin-top: 3.6rem !important;
    }
    .notification-div {
        padding-top: 3rem !important;
        margin-left: 2rem !important;
    }
    .toggle-two,
    .toggle-one {
        position: fixed;
    }
}

@media screen and (max-width:758px) {
    .info-card {
        width: 100%;
        margin-bottom: 1REM !important;
    }
    .pr-5 {
        padding-right: 0 !important;
    }
}